<!DOCTYPE html>
<html>
<head>
	<title>Add Animal</title>
</head>
<body>
	<h1>Add Animal</h1>
	<form method="POST" action="{{ url_for('add_animal') }}">
		<label for="name">Name:</label>
		<input type="text" id="name" name="name" required>
		<label for="species">Species:</label>
		<input type="text" id="species" name="species" required>

		<label for="population">Population:</label>
		<input type="number" id="population" name="population" required>

		<button type="submit">Add Animal</button>
	</form>
</body>
</html>
